.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #212121;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  margin: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #424242;
  border-radius: 10px;
  margin-left: -5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #484848; 
}

.left-container {
  float: left;
  width: 45vw;
  border-radius: 7px;
  height: 90vh;
  margin-right: 3%;
  margin-left: 2.5%;
  margin-top: 4%;
}

.file-selector {
  font-size: 130%;
  color: transparent;
  width: 10.5vh;
}

.file-selector::-webkit-file-upload-button {
  background-color: firebrick;
  color: #39DB49;
  border: none;
  margin: 10%;
}


.logo {
  color: #BFBFBF;
  text-align: center;
  font-size: 450%;
  margin-bottom: 30%;
}

.options {
  margin-top: -15%;
  margin-left: 22%;
  border-radius: 7px;
  border: solid rgb(0, 0, 0);
  background-color: #303030;
  height: 50vh;
  width: 50vh;
}

.row {
 padding: 10px;
}

.checkbox-label {
  margin-left: 0.5%;
  margin-right: 2%;
  display: inline-block;
  width: 175px;
  color: #BFBFBF;
  font-size: 20px;
}

.tree-container {
  width: 45vw;
  height: 90vh;
  padding: 0% 0.75% 1% 0.25%;
  background-color: #303030;
  border-radius: 7px;
  border: solid rgb(0, 0, 0);
  margin: 1%;
  overflow: auto;
  float: left;
}

.css-l48oru .css-11485kn {
  padding-top: 5px;
}
